{% extends "base.html" %}

{% block title %}Profil{% endblock %}

{% block content %}
    <div class="container">
        <h1>Bienvenue sur FlaskNetwork {{ user["username"] }}</h1>
        <ul class="list-unstyled">
            <li class="mb-2"> 
                <a class="btn btn-warning" href="{{ url_for('update', id=user['id']) }}">Modifier</a>
            </li>
            <li class="mb-2">
                <form action="{{ url_for('delete', id=user['id']) }}" method="POST">
                    <button class="btn btn-danger" type="submit">Supprimer</button>
                </form>
            </li>
        </ul>
    </div>
{% endblock %}