<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>App Flask</title>
    </head>
    <body>
        <h1>Inscription</h1>
        <form action="{{ url_for('add_user')}}" method="POST">
            <p>
                <!-- Champ de type "text" -->
                <label for="nom">Nom : </label>
                <input type="text" name="nom" id="nom" required>
            </p>
            <p>
                <!-- Champ de type "password" -->
                <label for="mdp">Mot de passe : </label>
                <input type="password" name="mdp" id="mdp" required>
            </p>
            <p>
                <!-- Envoyer le formulaire -->
                <button type="submit">Envoyer le formulaire</button>
            </p>
        </form>
    </body>
</html>